<h1><%=@user.first_name%> <%=@user.second_name%></h1>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @user.second_name %>
</p>
<%= link_to 'Back', admin_path %>
| <%= link_to 'Edit', edit_user_path(@user) %>
