<!DOCTYPE html>
<html>
<head>
  <title>Ghexe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<<<<<<< HEAD
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
=======
>>>>>>> 7cc049fc30505611072b7afce4fce3e7abb85011
</body>
</html>
